# Ignore everything
/*

# Folders
!/gradle
!/src
!/.github
!/wrapper

# File
!/.gitignore
!/.gitmodules
!/build.gradle
!/gradle.properties
!/settings.gradle
!/gradlew
!/gradlew.bat
!/HEADER
!/Jenkinsfile
!/l4j-manifest.xml
!/LICENSE
!/README.md