# Ignore everything
/*

# Folders
!/gradle
!/src
!/.github
!/native

# Files
!/.gitignore
!/.gitattributes
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/README.md
!/settings.gradle
!/checkstyle.xml
!/.editorconfig
!/crowdin.yml
